h1{
    text-align: center;
    color: yellow;
}
#p1{
    color: red;
}
body{ 
   
    background-image: url("https://www.capgemini.com/sites/default/files/styles/cap_image_492x278/public/resource/image/The_Changing_Dynamics_of_the_Global_High_Tech_Industry_____An_Analysis_of_Key_Segments_and_Trends.jpg?itok=NDmn5H-u")
}